/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle {
  name: CSIRowsWh;
  border-collapse: collapse;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  max-id: 7;
  border-spacing-x: 0;
  cell-padding-left: 3px;
  cell-padding-right: 3px;
  cell-padding-top: 3px;
  cell-padding-bottom: 3px;
}

mcTableColumnStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
  name: CSITC;
  id: 0;
  cell-padding-left: 2px;
  cell-padding-right: 2px;
}

mcTableHeadStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
  background-color: #666666;
  color: #ffffff;
  name: BlueTH;
  id: 3;
  cell-padding-left: 3px;
  cell-padding-right: 3px;
}

mcTableHeadStyle {
  span: 2;
  id: 7;
  name: LtBlueTH;
  background-color: #e6e6e6;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
}

mcTableBodyStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #696969;
  name: WhiteTR;
  id: 2;
}

/* Cell Styles: */

.TableStyle-CSIRowsWh {
  border-collapse: collapse;
  border-left-style: solid;
  border-left-color: #000000;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-bottom-width: 1px;
  border-spacing: 0px 0px;
}

.TableStyle-CSIRowsWh-Column-CSITC {
}

.TableStyle-CSIRowsWh-Head-BlueTH {
}

.TableStyle-CSIRowsWh-HeadI-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsWh-HeadI-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-HeadE-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsWh-HeadE-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-HeadF-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsWh-HeadF-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-HeadH-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsWh-HeadH-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-HeadD-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsWh-HeadD-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-HeadC-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsWh-HeadC-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-HeadB-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsWh-HeadB-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-HeadA-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsWh-HeadA-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-HeadG-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsWh-HeadG-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsWh-Head-LtBlueTH {
}

.TableStyle-CSIRowsWh-HeadI-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsWh-HeadI-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-HeadE-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  background-color: #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsWh-HeadE-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-HeadF-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsWh-HeadF-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-HeadH-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsWh-HeadH-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-HeadD-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsWh-HeadD-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-HeadC-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsWh-HeadC-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-HeadB-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsWh-HeadB-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-HeadA-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsWh-HeadA-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-HeadG-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsWh-HeadG-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsWh-FootI-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-FootI-CSITC- p {
}

.TableStyle-CSIRowsWh-FootE-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsWh-FootE-CSITC- p {
}

.TableStyle-CSIRowsWh-FootF-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-FootF-CSITC- p {
}

.TableStyle-CSIRowsWh-FootH-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsWh-FootH-CSITC- p {
}

.TableStyle-CSIRowsWh-FootD-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-FootD-CSITC- p {
}

.TableStyle-CSIRowsWh-FootC-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-FootC-CSITC- p {
}

.TableStyle-CSIRowsWh-FootB-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsWh-FootB-CSITC- p {
}

.TableStyle-CSIRowsWh-FootA-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-FootA-CSITC- p {
}

.TableStyle-CSIRowsWh-FootG-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-FootG-CSITC- p {
}

.TableStyle-CSIRowsWh-Body-WhiteTR {
}

.TableStyle-CSIRowsWh-BodyI-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-BodyI-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsWh-BodyE-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsWh-BodyE-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsWh-BodyF-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-BodyF-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsWh-BodyH-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsWh-BodyH-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsWh-BodyD-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-BodyD-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsWh-BodyC-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-BodyC-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsWh-BodyB-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsWh-BodyB-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsWh-BodyA-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-BodyA-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsWh-BodyG-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsWh-BodyG-CSITC-WhiteTR p {
}
