/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle {
  name: CSIRowsIndent;
  border-collapse: collapse;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  max-id: 7;
  border-spacing-x: 0;
  margin-left: 0.25in;
  cell-padding-left: 3px;
  cell-padding-right: 3px;
  cell-padding-top: 3px;
  cell-padding-bottom: 3px;
  mc-hide-bottom-ruling: true;
}

mcTableColumnStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
  name: CSITC;
  id: 0;
  cell-padding-left: 2px;
  cell-padding-right: 2px;
}

mcTableHeadStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
  background-color: #666666;
  color: #ffffff;
  name: BlueTH;
  id: 3;
  cell-padding-left: 3px;
  cell-padding-right: 3px;
}

mcTableHeadStyle {
  span: 2;
  id: 7;
  name: LtBlueTH;
  background-color: #e6e6e6;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
}

mcTableBodyStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #696969;
  name: WhiteTR;
  id: 2;
}

mcTableBodyStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #696969;
  background-color: #f1f2f2;
  name: GreyTR;
  id: 1;
  type: Automatic;
}

/* Cell Styles: */

.TableStyle-CSIRowsIndent {
  border-collapse: collapse;
  mc-hide-bottom-ruling: true;
  border-left-style: solid;
  border-left-color: #000000;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-bottom-width: 1px;
  margin-left: 0.25in;
  border-spacing: 0px 0px;
}

.TableStyle-CSIRowsIndent-Column-CSITC {
}

.TableStyle-CSIRowsIndent-Head-BlueTH {
}

.TableStyle-CSIRowsIndent-HeadI-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsIndent-HeadI-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-HeadE-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsIndent-HeadE-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-HeadF-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsIndent-HeadF-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-HeadH-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsIndent-HeadH-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-HeadD-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsIndent-HeadD-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-HeadC-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsIndent-HeadC-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-HeadB-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsIndent-HeadB-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-HeadA-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsIndent-HeadA-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-HeadG-CSITC-BlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 3px;
  padding-right: 3px;
}

.TableStyle-CSIRowsIndent-HeadG-CSITC-BlueTH p {
  color: #ffffff;
}

.TableStyle-CSIRowsIndent-Head-LtBlueTH {
}

.TableStyle-CSIRowsIndent-HeadI-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsIndent-HeadI-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-HeadE-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  background-color: #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsIndent-HeadE-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-HeadF-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsIndent-HeadF-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-HeadH-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsIndent-HeadH-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-HeadD-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-CSIRowsIndent-HeadD-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-HeadC-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsIndent-HeadC-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-HeadB-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsIndent-HeadB-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-HeadA-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsIndent-HeadA-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-HeadG-CSITC-LtBlueTH {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #e6e6e6;
}

.TableStyle-CSIRowsIndent-HeadG-CSITC-LtBlueTH p {
}

.TableStyle-CSIRowsIndent-FootI-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-FootI-CSITC- p {
}

.TableStyle-CSIRowsIndent-FootE-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-FootE-CSITC- p {
}

.TableStyle-CSIRowsIndent-FootF-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-FootF-CSITC- p {
}

.TableStyle-CSIRowsIndent-FootH-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-FootH-CSITC- p {
}

.TableStyle-CSIRowsIndent-FootD-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-FootD-CSITC- p {
}

.TableStyle-CSIRowsIndent-FootC-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-FootC-CSITC- p {
}

.TableStyle-CSIRowsIndent-FootB-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-FootB-CSITC- p {
}

.TableStyle-CSIRowsIndent-FootA-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-FootA-CSITC- p {
}

.TableStyle-CSIRowsIndent-FootG-CSITC- {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-FootG-CSITC- p {
}

.TableStyle-CSIRowsIndent-Body-WhiteTR {
}

.TableStyle-CSIRowsIndent-BodyI-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyI-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-BodyE-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-BodyE-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-BodyF-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyF-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-BodyH-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-BodyH-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-BodyD-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyD-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-BodyC-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyC-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-BodyB-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-BodyB-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-BodyA-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyA-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-BodyG-CSITC-WhiteTR {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyG-CSITC-WhiteTR p {
}

.TableStyle-CSIRowsIndent-Body-GreyTR {
}

.TableStyle-CSIRowsIndent-BodyI-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyI-CSITC-GreyTR p {
}

.TableStyle-CSIRowsIndent-BodyE-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-BodyE-CSITC-GreyTR p {
}

.TableStyle-CSIRowsIndent-BodyF-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyF-CSITC-GreyTR p {
}

.TableStyle-CSIRowsIndent-BodyH-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-BodyH-CSITC-GreyTR p {
}

.TableStyle-CSIRowsIndent-BodyD-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  border-bottom-width: 1px;
  border-bottom-color: #696969;
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyD-CSITC-GreyTR p {
}

.TableStyle-CSIRowsIndent-BodyC-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyC-CSITC-GreyTR p {
}

.TableStyle-CSIRowsIndent-BodyB-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  padding-left: 2px;
  padding-right: 2px;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-CSIRowsIndent-BodyB-CSITC-GreyTR p {
}

.TableStyle-CSIRowsIndent-BodyA-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyA-CSITC-GreyTR p {
}

.TableStyle-CSIRowsIndent-BodyG-CSITC-GreyTR {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f1f2f2;
  padding-left: 2px;
  padding-right: 2px;
}

.TableStyle-CSIRowsIndent-BodyG-CSITC-GreyTR p {
}
